#CorpoPlan{
    height: 640px;
    width: 400px;
    background-image: url('../img/gr.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#part1{
    height: 256px;
    width: 100%;
}
#fn{
    width:  20%;
    border: solid, gray;
    background-color: skyblue;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

#Pontua{
    width:  20%;
    border: solid, gray;
    background-color: skyblue;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}

.mostram{
    height: 31px;
    width: 71px;
    background-image: url('../img/fundo-mostra.png');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 10px;
}

.botoes {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}

/* Base branca */
.btn-base {
    position: absolute;
    width: 50px;
    height: 20px;
    background: #e9e9e9;
    border-radius: 50%;
    top: 40px;
    left: 0;
}

/* Topo + corpo do botão vermelho (cilindro) */
.btn-top {
    position: absolute;
    width: 40px;
    height: 25px;
    background: #e64b3c;
    border-radius: 60px / 25px; /* forma cilíndrica */
    left: 15px;
    top: 5px;

    cursor: pointer;
    transition: all 0.15s ease-in-out;

    /* Sombra para parecer elevado */
    box-shadow: 0 10px 0 #c0392b;
}

/* Animação ao clicar */
.btn-top:active {
    top: 20px;               /* desce */
    box-shadow: 0 2px 0 #c0392b;
}